<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body>
    <div class="container-fluid">
        <h1 id="none">Contact</h1>
    </div>
    <div class="card mb-3" id="bus">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/kindpng_1232433.png" class="card-img-top" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <div class="container text-center" id="bus2">
                    <div class="row">
                      <div class="col">
                        <h3>CHENNAI KOYAMBEDU</h3>
                        <P>12th street nearby cmbt metro, Koyembedu, Chennai.</P>
                        <i class="bi bi-telephone-outbound"></i><br> <a href="#">9887878948 /8489947784</a>
                      </div>
                     
                      <div class="row" id="bus3">
                        <h3>BANGALORE</h3>
                        <P>Kempegowda, Majestic, Bengaluru, Karnataka 560023.</P>
                        <i class="bi bi-telephone-outbound"></i><a href="#">9887878976 /8489945894</a>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      
  <!-- footer -->
  <footer class="footer-section" >
    <div class="footer-top">
      <div class="container">
        <div class="row" >
          <div class="col-md-6 col-lg" id="foot">
            <br>
            <p class="mine">Phoenix Travels</p><br><br>
            <p class="text-justify">Phoenix Travels bus tickets online in website and from your mobile with few easy steps. <br> Go to <b>My Bookings</b> to manage your account</p>
          </div>
          <div class="col-md-6 col-lg-auto" id="foot1">
            <h4>Quick Links</h4>
            <p><i class="bi bi-caret-right-fill"></i> <a href="faq">FAQ</a></p>
            <p><i class="bi bi-caret-right-fill"></i> <a href="terms">Terms &amp; Conditions</a></p>
            <p><i class="bi bi-caret-right-fill"></i> <a href="feedback">Feedback</a></p>
            <p><i class="bi bi-caret-right-fill"></i> <a href="contact">Contact</a></p>
            <p><i class="bi bi-caret-right-fill"></i> <a href="boarding-places">Boarding Places</a></p>
            
          </div>
          <div class="col-md-6 col-lg-auto" id="foot2">
            <h4>Manage Ticket</h4>
            <p><i class="bi bi-link"></i><a href="manage-ticket">Download Ticket </a></p>
            <p><i class="bi bi-link"></i><a href="track-my-bus">Track Your Bus</a></p>
            <p><i class="bi bi-link"></i><a href="manage-ticket">Cancel Ticket</a></p>
            <p><i class="bi bi-link"></i><a href="manage-ticket">Change Boarding Point </a></p>
            <p><i class="bi bi-link"></i><a href="manage-ticket">Change Travel Date</a></p>
          </div>
          <div class="col-md-6 col-lg" id="foot3">
            <h4>Head Office</h4>
            <p><i class="bi bi-geo-alt-fill"></i>12th street nearby cmbt metro, Koyembedu, Chennai.</p>
            <p><i class="bi bi-telephone-inbound"></i><a href="tel:+99877857757">+91 8779765757</a> | <a href="tel:04424797588">044-24797588</a> </p>
          </div>
        </div>
      </div>
    </div>
  <hr class="container">
    <div class="container footer-bottom" id="foot4">
      <div class="row justify-content-between">
        <div class="col-md-auto">
          <p>Copyright © 2023 - Phoenix Travels</p>
        </div>
        
        <div class="col-md-auto">
          <p>Powered By <a href="https://www.ajaisparrow874.com/" target="_blank">ajaisparrow technology</a> | <a href="https://ajaisparrow.com/" target="_blank">ajaisparrow.com</a></p>
        </div>
      </div>
    </div>
  </footer>


    
</body>
</html>
