  <!-- image carousel -->

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/Volvo Bus Price In India 2020_ Wallpaper.jpg" class="d-block w-100" alt="image" >
      </div>
      <div class="container" id="make">
        PHOENIX TRAVELS
       </div>
       <div class="carousel-caption d-none d-md-block" id="cane">
        <h1>Book Ticket</h1>
        <h2>Book Ticket</h2>
      <b>From:</b><select>
        <option *ngFor="let i  of city">{{i}}</option>
       </select>
       <b>To:</b><select>
        <option *ngFor="let i  of city">{{i}}</option>
       </select>
       <input type="date" >
       <button routerLink="/contact">
        Search Bus
       </button>
      </div>
    </div>
  </div>
 

  <!-- About us -->
  
<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/ab-volvo-volvo-buses-coach-bangalore-bus-top-view-9ef5983cf9425524656d076121596e67.png" class="card-img-top" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="about"> About</h2>
          <h5 class="card-title">About</h5>
          <p class="card-text">
             phoneix Travels has steadily grown over the years and it has become premier travel service provider in India.
             phoneix Travels today has a large number of Bus across the states. phoneix Travels with years of experience in 
             the travel industry has been complemented by goodwill with the customers that they have created. Our 
             travel services are perfect to make the holiday of our tourists most undisturbed. KKR Travels operates
             daily trips to Chennai to Bangalore to Chennai.
            <br>
            <br>
             Book phoneix Travels bus tickets online in website and from your mobile with few easy steps.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Amenities -->

<div class="container" class="text-center" id="name">
    <h2>Amenities</h2>
    <h1 >Amenities We Provide</h1>
    <p>phoneix Travels would promise you the same as you read above would 
        be the same and would try to improve its standards. phoneix Travels aims
        to rapid growth in this industry by adopting more number of buses 
        and providing more higher standards of quality and comfort!!!</p>

  <div class="container text-center" id="find">
    <div class="row">
      <div class="col">
        <img src="../../assets/amenity-1.png">
        <h6>Reading Lamp</h6>
      </div>
      <div class="col">
        <img src="../../assets/amenity-2.png">
        <h6>Charing Point</h6>
      </div>
      <div class="col">
        <img src="../../assets/amenity-3.png">
        <h6>Blankets</h6>
      </div>
      <div class="col">
        <img src="../../assets/amenity-4.png">
        <h6>Water Bottle</h6>
      </div>
      <div class="col">
        <img src="../../assets/amenity-5.png">
        <h6>Personal Wifi</h6>
      </div>
    </div>
  </div>
</div>


<!-- Services -->

<div class="service-section text-center">
	<div class="container">
		<h5 class="section">Services</h5>
		<h2 class="section-bind">Services We Provide</h2>
		<p class="section-text">Your search for the best and cheapest deals on top searched routes in India ends here. Choose from sleeper, 
      semi-sleeper, volvo and many more buses while booking online and get the cheapest fare, multiple paying options and 24x7 customer service.</p><br>
		<div class="row">
			<div class="col-md">
				<div class="service-inner">
					<img  src="../../assets/service-1.png" alt="Icon">
					<h4>Fast Booking</h4>
					<p>Enjoy buying your bus tickets online from home or on the go, with our mobile friendly site.</p>
				</div>
			</div>
			<div class="col-md">
				<div class="service-inner">
					<img  src="../../assets/service-2.png" alt="Icon">
					<h4>Stress Free</h4>
					<p>The simplest and stress free way to book your bus travel all in one purchase.</p>
				</div>
			</div>
			<div class="col-md">
				<div class="service-inner">
					<img  src="../../assets/service-3.png" alt="Icon">
					<h4>Spend Less</h4>
					<p>We have the affordable prices and the best carriers all in one place.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Routes -->
<div class="routes-section text-center"  id="route1">
<diV class="container">
    <h1 class="route"> Routes</h1>
    <h2 class="routes-title">Popular Routes</h2>
    <div class="row">
        <div class="col-md">
            <div class="fun">
                <img  src="../../assets/chennai img.jpg" alt="Icon" width="400px" height="300px">
                <h2>CHENNAI</h2>
            </div>
        </div>
        <div class="col-md">
            <div class="fun1">
                <img  src="../../assets/yellow-red-double-headed-arrow-7641c2f18f4097193436ad44a9a498bd.png" alt="Icon" width="200px">
            </div>
        </div>
        <div class="col-md">
            <div class="fun">
                <img  src="../../assets/arif-khan-qI97C620KMg-unsplash.jpg" alt="Icon" width="400px" >
                <h2>BANGALORE</h2>
            </div>
        </div>
    </div>
</diV>
</div>

<!-- covid19 -->

<div class="container" class="text-center" id="covid">
  <h2>covid-19</h2>
  <h3 >Covid Safety Protocols</h3>
  <p>We are the creators of India's 1st comfort of branded buses that
    <br>guarantee safe & comfortable journeys.</p>

<div class="container text-center" id="covid1">
  <div class="row">
    <div class="col">
      <img src="../../assets/covid-1.png" > 
      Temperature check
    </div>
    <div class="col"> 
      <img src="../../assets/covid-2.png">
      Hand Sanitizers
    </div>
    <div class="col">
      <img src="../../assets/covid-3.png">
      Wear Mask 
    </div>
  </div>
</div>
</div>

  <!-- footer -->
  <footer class="footer-section" >
    <div class="footer-top">
      <div class="container">
        <div class="row" >
          <div class="col-md-6 col-lg" id="foot">
            <br>
            <p class="mine">Phoenix Travels</p><br><br>
            <p class="text-justify">Phoenix Travels bus tickets online in website and from your mobile with few easy steps. <br> Go to <b>My Bookings</b> to manage your account</p>
          </div>
          <div class="col-md-6 col-lg-auto" id="foot1">
            <h4>Quick Links</h4>
            <p><i class="bi bi-caret-right-fill"></i> <a href="faq">FAQ</a></p>
            <p><i class="bi bi-caret-right-fill"></i> <a href="terms">Terms &amp; Conditions</a></p>
            <p><i class="bi bi-caret-right-fill"></i> <a href="feedback">Feedback</a></p>
            <p><i class="bi bi-caret-right-fill"></i> <a href="contact">Contact</a></p>
            <p><i class="bi bi-caret-right-fill"></i> <a href="boarding-places">Boarding Places</a></p>
            
          </div>
          <div class="col-md-6 col-lg-auto" id="foot2">
            <h4>Manage Ticket</h4>
            <p><i class="bi bi-link"></i><a href="manage-ticket">Download Ticket </a></p>
            <p><i class="bi bi-link"></i><a href="track-my-bus">Track Your Bus</a></p>
            <p><i class="bi bi-link"></i><a href="manage-ticket">Cancel Ticket</a></p>
            <p><i class="bi bi-link"></i><a href="manage-ticket">Change Boarding Point </a></p>
            <p><i class="bi bi-link"></i><a href="manage-ticket">Change Travel Date</a></p>
          </div>
          <div class="col-md-6 col-lg" id="foot3">
            <h4>Head Office</h4>
            <p><i class="bi bi-geo-alt-fill"></i>12th street nearby cmbt metro, Koyembedu, Chennai.</p>
            <p><i class="bi bi-telephone-inbound"></i><a href="tel:+99877857757">+91 8779765757</a> | <a href="tel:04424797588">044-24797588</a> </p>
          </div>
        </div>
      </div>
    </div>
  <hr class="container">
    <div class="container footer-bottom" id="foot4">
      <div class="row justify-content-between">
        <div class="col-md-auto">
          <p>Copyright © 2023 - Phoenix Travels</p>
        </div>
        
        <div class="col-md-auto">
          <p>Powered By <a href="https://www.ajaisparrow874.com/" target="_blank">ajaisparrow technology</a> | <a href="https://ajaisparrow.com/" target="_blank">ajaisparrow.com</a></p>
        </div>
      </div>
    </div>
  </footer>


    
